.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
}

.heading-primary-main {
  display: block;
  font-size: 60px;
  letter-spacing: 35px;
  font-weight: 400;
  animation: moveInLeft 2.5s ease-out;
}

.heading-primary-sub {
  display: block;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 17.4px;
  animation: moveInRight 2.5s ease-out;
  margin-bottom: 60px;
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
