.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  border-radius: 100px;
  display: inline-block;
  transition: all 0.2s;
  position: relative;
}

.btn:hover {
  transform: translateY(-5px) scale(1.02);
  box-shadow: 0 10px 20px rgba(17, 17, 17, 0.295);
}
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 3px 5px rgba(17, 17, 17, 0.2);
}
.btn-white {
  color: #333;
  background: #fff;
}
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn-white::after {
  color: #333;
  background: #fff;
}

.btn:hover::after {
  transform: scaleX(1.35) scaleY(1.6);
  opacity: 0;
}
@keyframes moveInBtn {
  0% {
    opacity: 0;
    transform: translateY(60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.btn-animated {
  animation: moveInBtn 1.5s ease-out 0.3s;
  animation-fill-mode: backwards;
}
